In [2]:
#참고: Python for Data Analysis(파이썬 라이브러리를 이용한 데이터 분석)
#1. word count 및 정렬

import numpy as np
import pandas as pd

values = pd.Series(['apple','oragne','apple', 'banana'] * 2)
print('values:', values)
print()

print('pd.unique(values):', pd.unique(values))
print('pd.value_counts(values):', pd.value_counts(values))
print()

pd_val_cnt = pd.value_counts(values)
print('type(pd_val_cnt):', type(pd_val_cnt))
print('pd_val_cnt[0]:', pd_val_cnt[0])
print()

print('index정렬:', pd_val_cnt.sort_index())
print('index 역순정렬:', pd_val_cnt.sort_index(ascending=False)) #axis=1
print()

print('value 정렬:', pd_val_cnt.sort_values(ascending=False))

values: 0     apple
1    oragne
2     apple
3    banana
4     apple
5    oragne
6     apple
7    banana
dtype: object

pd.unique(values): ['apple' 'oragne' 'banana']
pd.value_counts(values): apple     4
banana    2
oragne    2
dtype: int64

type(pd_val_cnt): <class 'pandas.core.series.Series'>
pd_val_cnt[0]: 4

index정렬: apple     4
banana    2
oragne    2
dtype: int64
index 역순정렬: oragne    2
banana    2
apple     4
dtype: int64

value 정렬: apple     4
oragne    2
banana    2
dtype: int64